/* @keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.scroll__animation {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
} */

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.scroll__animation {
  opacity: 0;
  transform: scale(0.5);
  transition: 0.3s ease;
}

.scroll__animation.visible {
  animation: appear 0.6s ease forwards;
}
