@import url("./fonts.css");
@import url("./resset.css");

body {
    /* font-family: Arial, Helvetica, sans-serif; */
}

html {
  scroll-behavior: smooth;
}

.container {
    max-width: 1070px;
    margin: 0 auto;
    padding: 0 10px;
}


.yellow__btn {
    border-radius: 12px;
    padding: 21px 29px;
    background-color: #efd372;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #274c5b;
    margin-top: 17px;
    transition: .3s;
}
.yellow__btn::after {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("/src/assets/images/arrow-btn.svg");
    background-size: cover;
    margin-left: 7px;
}
.yellow__btn:hover {
  background-color: #274C5B;
  color: #fff;
}
.yellow__btn:active {
  background-color: #efd372;
  color: #274c5b;
}

.blue__btn {
    border-radius: 12px;
    padding: 21px 29px;
    background: #274c5b;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    margin-top: 17px;
    transition: .3s;
}

.blue__btn::after {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("/src/assets/images/arrow-btn.svg");
    background-size: cover;
    margin-left: 7px;
}
.blue__btn:hover {
  background-color: #efd372;
  color: #274c5b;
}
.blue__btn:active {
  background-color: #274c5b;
  color: #fff;
}
/* HEDAER */
.header {
    padding: 31px 0;
    background: #e8e8e8;
    position: sticky;
    top: 0;
    z-index: 999999;
}

.header__container {
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 10px;
}

.header > .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__list {
    display: flex;
    gap: 33px;
}

.header__link {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #274c5b;
    transition: .3s;
}
.header__link:hover {
    color: #2E6F65;
}
.header__link:active {
    color: #274c5b;
}

.header__right {
    display: flex;
    gap: 13px;
}

.header__search {
    display: flex;
    /* justify-content: center; */
    border-radius: 27px;
    padding: 0 15px;
    width: 281px;
    height: 49px;
    background-color: #fafafa;;
}

.header__search label {
    display: flex;
    align-items: center;
    margin-right: -10px;
}

.search {
    border: none;
    outline: none;
    width: 281px;
    margin-left: 8px;
    background-color: #fafafa;
}

.header__cart {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #274c5b;
    border: 0.75px solid #e0e0e0;
    border-radius: 25px;
    /* width: 119px;
    height: 49px; */
    padding: 4px 17px 4px 4px;
}

.header__cart::before {
    content: "";
    display: inline-block;
    width: 43px;
    height: 43px;
    background-image: url("/src/assets/images/cart-icon.svg");
    background-size: cover;
    margin-right: 9px;
    vertical-align: middle;
}
/* HEDAER */


/* --------------------------- */


/* HERO */
.hero {
    height: calc(100vh - 114px);
    background: url("/src/assets/images/background-hero.jpg") #f1eff0 no-repeat center/cover;
}

.hero__wrapper {
    max-width: 397px;
    padding: 185px 0;
}

.hero__title {
    font-family: "Yellowtail", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 27px;
    color: #68a47f;
}

.hero__desc {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 52px;
    color: #274c5b;
}
/* HERO */


/* --------------------------- */


/* OFFER-BANNER */
.banner > .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
    padding: 115px 0 142px 0;
}

.container {
    max-width: 1070px;
    margin: 0 auto;
    padding: 0 10px;
}

.banner-fruits {
    background: url('../images/fruits\ —\ копия.svg') no-repeat center/cover;
    width: 511px;
    height: 275px;
    border-radius: 22px;
}

.banner-fruits__wrapper {
    padding: 81px 262px 82px 42px;
}

.banner-fruits__title {
    font-family: "Yellowtail", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 27px;
    color: #fff;
}

.banner-fruits__desc {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: #fff;
}


.banner-vegetables {
    background: url('../images/fruits-2\ —\ копия.svg') no-repeat center/cover;
    width: 511px;
    height: 275px;
    border-radius: 22px;
}

.banner-vegetables__wrapper {
    padding: 82px 272px 82px 42px;
}

.banner-vegetables__title {
    font-family: "Yellowtail", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 27px;
    color: #7eb693;
}

.banner-vegetables__desc {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: #274c5b;
}
/* OFFER-BANNER */


/* --------------------------- */


/* ABOUT */
.about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: #F9F8F8;
}

.text-side {
    max-width: 500px;
}

.text-side h1 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 37px;
  color: #274c5b;
}

.about {
    font-family: "Yellowtail", Arial, Helvetica, sans-serif;
    color: #7EB693;
    font-weight: 400;
    font-size: 37px;
}

.description {
    margin: 20px 0;
    font-weight: 400;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 165%;
    color: #525c60;
}

.features {
    /* margin: 20px 0; */
}

.feature {
  display: flex;
}

.feature__two {
  display: flex;
  margin-top: -30px;
}

.icon {
  width: 75px;
  height: 75px;
}

.text-block {
  margin: 2px 0 2px 15px;
}

.text-block__two {
  margin: 40px 0 2px 15px;
}

.text-block__title {
  margin: 0 0 4px 0; 
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #274c5b;
}
.text-block__subtitle {
  margin: 0;
  color: #666;
  margin-bottom: 35px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 165%;
  color: #525c60;
}
/* ABOUT */


/* --------------------------- */


/* PRODUCTS */

.products {
  max-width: 1200px;
  margin: 40px auto;
  padding-top: 132px;
  text-align: center;
}

.products__subtitle {
  font-family: "Yellowtail", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 27px;
  color: #7eb693;
  margin-bottom: 6px;
}

.products__title {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 36px;
  margin-bottom: 40px;
  font-weight: 800;
  color: #274c5b;
}

.products__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 24px;
}

.product {
  border-radius: 22px;
  position: relative;
  text-align: center;
  background: white;
  cursor: pointer;
}

.product:hover {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}

.product__badge {
  position: absolute;
  top: 16px;
  left: 16px;
  background: #2d2d2d;
  color: white;
  font-size: 12px;
  padding: 4px 10px;
  margin: 15px 0 0 22px;
  border-radius: 6px;
  font-weight: 600;
  text-transform: uppercase;
}

.product__badge--vegetable {
  background-color: #274C5B;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  color: #fff;
}

.product__badge--fresh {
  background-color: #274C5B;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  color: #fff;
}

.product__badge--millets {
  background-color: #274C5B;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  color: #fff;
}

.product__badge--health {
  background-color: #274C5B;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  color: #fff;
}

.product__badge--nuts {
  background-color: #274C5B;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  color: #fff;
}

.product__image {
  max-width: 100%;
  object-fit: contain;
  margin: 40px auto 20px;
  display: block;
  width: 251px;
  height: 243px;
}

.product__name {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 10px 0;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  color: #274c5b;
}

.product__price {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin: 0px 0 0 0;
  font-weight: 600;
  font-size: 11px;
  text-align: center;
  color: #b8b8b8;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 14px;
  position: relative;
  display: flex;
}

.product__price del {
  color: #aaa;
  margin-right: 8px;
}

.product__price strong {
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  color: #274c5b;
}


.product__desc {
  font-size: 13px;
  color: #555;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
  position: relative;
  margin: 0;
}

.product__desc::after {
  content: '';
  position: absolute;
  bottom: 11px;
  left: 20px;
  width: calc(100% - 40px);
  height: 1px;
  background-color: #e0e0e0; 
}

.products__nav{
  margin-top: 91px;
  margin-bottom: 141px;
}


/* PRODUCTS */


/* --------------------------- */

/* TESTIOMONIAL */

.testimonial {
  width: 1440px;
  height: 950px;
  margin: 0 auto;
  padding: 0 15px;
  background: url("/src/assets/images/Background.png") #f1eff0 no-repeat center/cover;
  width: 100%;
}

.testimonial__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 123px;
}

.testimonial__subtitle{
  font-family: "Yellowtail", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 27px;
  color: #7eb693;
  text-align: center;
}

.testimonial__title{
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 37px;
  text-align: center;
  color: #274c5b;
}

  .testimonial__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .testimonial__avatars{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 46px;
    padding-top: 50px;
  }


.testimonial__text{
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 165%;
  text-align: center;
  color: #525c60;
  padding-top: 18px;
}

.consumer{
  padding: 0;
  padding-bottom: 14px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 165%;
  color: #525c60;
}

.testimonial__name{
  font-family: "Roboto", Arial, Helvetica, sans-serif;
font-weight: 600;
font-size: 18px;
color: #274c5b;
}

.testimonial__image{
padding-top: 45px;
padding-bottom: 15px;
}

.testimonial__info{
  padding-top: 37px;
}

.testimonial__dots{
  margin: 0 auto;
  display: flex;
}

/* TESTIOMONIAL */


/* --------------------------- */


/* OFFER */


.offer {
  max-width: 1085px;
  margin: 40px auto;
  padding: 150px 0;
}

.content_offers {
  background: #274C5B;
}
.offer__header {
  position: relative;
}


.offer__subtitle {
  font-family: "Yellowtail", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-size: 27px;
  color: #7eb693;
}

.offer__title {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 37px;
  color: #fff;
}

.offer__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 15px;
}

.offer__header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 37px;
}

.offer__title {
  margin: 0;
}


.offer__item {
  border-radius: 22px;
  position: relative;
  text-align: center;
  background: white;
  cursor: pointer;
}

.offer__item:hover {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.990);
}

.offer__badge {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  position: absolute;
  top: 16px;
  left: 16px;
  background: #2d2d2d;
  color: white;
  font-size: 12px;
  padding: 4px 10px;
  margin: 15px 0 0 22px;
  border-radius: 6px;
  font-weight: 600;
  text-transform: uppercase;
}

.offer__badge--vegetable {
  background-color: #274C5B;
}

.offer__badge--fresh {
  background-color: #274C5B;
}

.offer__badge--millets {
  background-color: #274C5B;
}

.offer__badge--health {
  background-color: #274C5B;
}

.offer__badge--nuts {
  background-color: #274C5B;
}

.offer__image {
  max-width: 100%;
  object-fit: contain;
  margin: 40px auto 20px;
  display: block;
  width: 251px;
  height: 243px;
}

.offer__name {
  margin: 10px 0;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  color: #274c5b;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.offer__price {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin: 0px 0 0 0;
  font-weight: 600;
  font-size: 11px;
  color: #b8b8b8;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 14px;
  position: relative;
  display: flex;
}

.offer__price del {
  color: #aaa;
  margin-right: 8px;
}

.offer__price strong {
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  color: #274c5b;
}

.offer__desc {
  font-size: 13px;
  color: #555;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
  position: relative;
  margin: 0;
}

.offer__desc::after {
  content: '';
  position: absolute;
  bottom: 11px;
  left: 20px;
  width: calc(100% - 40px);
  height: 1px;
  background-color: #e0e0e0;
}


.offer__rating {
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: end;
}

.offer__rating img {
  width: auto;
  width: 62px;
  height: 14px;
}

.star{
  text-align: end;
  padding-left: 60px;  
}


/* OFFER */


/* --------------------------- */


/* WO-WE-ARE */
.wo-we-are {
  margin-top: -40px;
  display: flex;
  align-items: center;
}

.wo-we-are__content {
  position: relative;
  right: 75px;
  border-radius: 22px;
  background-color: #ffffff;
  padding: 60px 67px;
  width: 592px;
  height: 542px;
}

.wo-we-are__content__title {
  font-family: "Yellowtail", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 27px;
  color: #7eb693;
}

.wo-we-are__content__subtitle {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 37px;
  color: #274c5b;
  margin-top: 6px;
}

.wo-we-are__content__wrapper__title {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #274c5b;
}

.wo-we-are__content__wrapper__subtitle {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 165%;
  color: #525c60;
  margin-top: 5px;
}

.wo-we-are__content__wrapper {
  margin-top: 26px;
}
/* WO-WE-ARE */


/* --------------------------- */


/* GALLERY */
.gallery {
  background: #f1f8f4;
  padding: 60px 0;
}

.gallery__container {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.gallery__grid {
  display: flex;
  justify-content: space-between;
  gap: 0;
}

.gallery__item {
  position: relative;
  width: 33.333%;
  height: 437px;
  overflow: hidden;
  border-radius: 10px;
}

.Organic__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  padding: 0 31px 0 0;
}

.Organic__image{
  padding: 0;
}

.gallery__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 24px 62px 25px 62px;
  width: 240px;
  height: 72px;
  background: #fff;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #274c5b;
  z-index: 2;
}

.gallery__btn:hover {
  background: #274c5b;
  color: #fff;
}


/* GALLERY */


/* --------------------------- */


/* NEWS */
.news {
  padding: 133px 0 137px 0;
}

.news__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news__top__heading {
  max-width: 600px;
}

.news__top__title {
  font-family: "Yellowtail", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 27px;
  color: #7eb693;
}

.news__top__subtitle {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 37px;
  color: #274c5b;
}

.news__top__btn {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  position: relative;
  border: 1.50px solid #274c5b;
  border-radius: 12px;
  width: 165px;
  height: 60px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-size: 15px;
  color: #274c5b;
  padding-left: 33px;
  transition: .3s;
}
.news__top__btn::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url("../images/arrow-btn.svg");
  background-size: cover;
  margin-left: 7px;
}
.news__top__btn:hover {
  color: #fff;
  background-color: #274c5b;
}
.news__top__btn:active {
  color: #274c5b;
  background-color: #fff;
  border: 1.50px solid #274c5b;
}

.news__bottom {
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom__left__img {
  background: url("../images/news-background-one.jpg") #c4c4c4 no-repeat center/cover;
  border-radius: 22px;
  width: 507px;
  height: 393px;
  padding: 32px 422px 299px 24px;
}

.bottom__right__img {
  background: url("../images/news-background-two.jpg") #c4c4c4 no-repeat center/cover;
  border-radius: 22px;
  width: 507px;
  height: 393px;
  padding: 32px 422px 299px 24px;
}

.bottom__left__desc {
  position: relative;
  bottom: 196px;
  left: 24px;
  border-radius: 24px;
  padding: 34px 42px 45px 42px;
  width: 459px;
  height: 248px;
  box-shadow: 0 15px 26px 0 rgba(167, 167, 167, 0.25);
  background: #fff;
}

.bottom__left__admin {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  position: relative;
  display: inline-flex;
  font-weight: 400;
  font-size: 14px;
  color: #274c5b;
}

.bottom__left__admin::before {
  content: "";
  display: inline-block;
  background-image: url("../images/news-admin.svg");
  width: 15px;
  height: 16px;
  background-size: cover;
  margin-right: 6px;
}

.bottom__left__title {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #274c5b;
}

.bottom__left__subtitle {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 165%;
  color: #525c60;
}
/* NEWS */


/* --------------------------- */


/* NEWSLETTER */
.newsletter {
    background: url('../images/image_8.png') center/cover no-repeat;
    border-radius: 20px;
    margin: 40px auto;
    max-width: 1050px;
    padding: 79px 53px;
    text-align: left;
    color: white;
    margin-top: -137px;
}

.newsletter-content {
    display: flex;
    align-items: center;
    gap: 244px;
}

.newsletter h2 {
    max-width: 267px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 37px;
    color: #fff;
    margin: 0;
}

.newsletter-form {
    display: flex;
    gap: 10px;
}

.newsletter-form input {
    border: none;
    border-radius: 12px;
    width: 261px;
    height: 60px;
    padding: 0 15px;
    outline: none;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
    color: #ababab;
}

.newsletter-form button {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: #274c5b;
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 0 35px;
    height: 60px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    transition: .3s;
}

.newsletter-form button:hover {
  background-color: #1D3742;
}

/* NEWSLETTER */


/* --------------------------- */


/* FOOTER */
.footer {
    max-width: 1440px;
    margin: 0 auto;
    padding: 88px 0px;
    background-color: #fff;
}

.footer-contact,
.footer-center,
.footer-pages {
  flex: 1;
  position: relative;
  padding: 0 40px;

}

.footer-columns {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    font-size: 13px;
    line-height: 165%;
    text-align: right;
}

/* Контакты */
.footer-contact {
    flex: 1;
    padding-right: 40px;
    position: relative;
}

.footer-contact::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background-color: #E0E0E0;
}

.footer-contact h3 {
    font-size: 25px;
    margin-bottom: 25px;
    color: #274C5B;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.contact-item {
    margin-bottom: 25px;
}

.contact-item strong {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: #525c60;
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.contact-item p {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 16px;
    color: #525C60;
}

.footer-center {
    flex: 1;
    padding: 0 40px; 
    text-align: center;
    position: relative;
}

.footer-center::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background-color: #E0E0E0;
}

.footer-logo {
    max-width: 150px;
    margin-bottom: 20px;
}

.footer-center p {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    line-height: 165%;
    max-width: 407px;
    margin: 0 auto 30px;
    font-size: 12px;
    line-height: 1.6;
    color: #525C60;
    gap: 40px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  transition: transform 0.3s;
}

.social-icons a:hover {
  transform: scale(1.1);
}


.footer-pages {
  text-align: left;
  padding-right: 0;
}

.footer-pages {
    flex: 1;
    padding-left: 40px;
    font-size: 13px;
    line-height: 273%;
    color: #525c60;
    text-align:left ;
}

.footer-pages h3 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #274c5b;
    margin-bottom: 25px;
}

.footer-pages ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-pages li {
    margin-bottom: 15px;
}

.footer-pages a {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #525C60;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.footer-pages a:hover {
    color: #274C5B;
    text-decoration: underline;
}
/* FOOTER */


/* ------------------------- */


/* COPYRIGHT */
.copyright {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    padding: 12px 457px;
    border-top: 1px solid #E0E0E0;
    font-size: 13px;
    color: #525C60;
}

.copyright strong {
    font-weight: bold;
    color: #274C5B;
}
/* COPYRIGHT */
