@import url("./fonts.css");
@import url("./resset.css");

/* HEDAER */

/* HEDAER */


/* --------------------------- */


/* HERO */

/* HERO */


/* --------------------------- */


/* OFFER-BANNER */

/* OFFER-BANNER */


/* --------------------------- */


/* ABOUT */

/* ABOUT */


/* --------------------------- */


/* PRODUCTS */

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.products {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 15px;
  text-align: center;
}

.products__subtitle {
  font-size: 20px;
  color: #79b98b;
  margin-bottom: 8px;
  font-style: italic;
}

.products__title {
  font-size: 36px;
  margin-bottom: 40px;
  font-weight: 700;
}

.products__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 24px;
}

.product {
  border-radius: 22px;
  position: relative;
  text-align: center;
  background: white;
  cursor: pointer;
}

.product:hover {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}

.product__badge {
  position: absolute;
  top: 16px;
  left: 16px;
  background: #2d2d2d;
  color: white;
  font-size: 12px;
  padding: 4px 10px;
  margin: 15px 0 0 22px;
  border-radius: 6px;
  font-weight: 600;
  text-transform: uppercase;
}

.product__badge--vegetable {
  background-color: #274C5B;
}

.product__badge--fresh {
  background-color: #274C5B;
}

.product__badge--millets {
  background-color: #274C5B;
}

.product__badge--health {
  background-color: #274C5B;
}

.product__badge--nuts {
  background-color: #274C5B;
}

.product__image {
  max-width: 100%;
  object-fit: contain;
  margin: 40px auto 20px;
  display: block;
  width: 251px;
  height: 243px;
}

.product__name {
  margin: 10px 0;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  color: #274c5b;
}

.product__price {
  font-size: 15px;
  margin: 0px 0 0 0;
  font-weight: 600;
  font-size: 11px;
  text-align: center;
  color: #b8b8b8;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
  position: relative;
}

.product__price del {
  color: #aaa;
  margin-right: 8px;
}

.product__price strong {
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  color: #274c5b;
}


.product__desc {
  font-size: 13px;
  color: #555;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
  position: relative;
  margin: 0;
}

.product__desc::after {
  content: '';
  position: absolute;
  bottom: 11px;
  left: 20px;
  width: calc(100% - 40px);
  height: 1px;
  background-color: #e0e0e0; 
}


/* PRODUCTS */


/* --------------------------- */


/* TESTIMONIAL */

/* TESTIMONIAL */


/* --------------------------- */


/* NEWSLETTER */

/* NEWSLETTER */


/* FOOTER */

/* FOOTER */